<div class="card-container">
       <div fxLayout="column" fxLayoutAlign="start stretch"
       fxLayoutGap="14px" class="card-content">
              <div fxLayout="row" fxLayoutAlign="center center">
                     <img src="assets/qr.svg">
              </div>
              <div fxLayout="row" fxLayoutAlign="center center">
                     <span class="tagline">A place to share knowledge and better understand the world</span>
              </div>
 

              
              <app-signup [childExample]="parentExample"></app-signup>
                     <!-- <div  fxLayout="row" fxLayoutAlign="start stretch" >
                            <div class="signup-container" fxFlex="50" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
                                     

                                          <a href="#" class="google btn"><i class="fa fa-google" aria-hidden="true"></i>
                                                         Continue with Google
                                               </a>

                                               <a href="#" class="fb btn">
                                                 <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                                 Continue with Facebook
                                                       </a>
                                                       <a class="signup_email_link" href="" tabindex="9" id="__w2_wzsMPPrd11_continue_with_email">Sign Up With Email</a>
                                                       <app-signup></app-signup>
                                                       <span class="light_gray TosDisclaimer">By signing up you indicate that you have read and agree to Quora's <a class="tos_link" href="/about/tos" nav_style="modal_present" target="_blank" rel="noopener">Terms of Service</a> and 
                                                        <a class="tos_link" href="/about/privacy" nav_style="modal_present" target="_blank" rel="noopener">Privacy Policy</a>.</span>
                            </div>
                             

                            <div class="login-container" fxFlex="50">
                                   <app-login></app-login>
                            </div>
              </div>  -->

              <div class="language_links u-margin-top--lg" fxLayout="row" fxLayoutAlign="center center">
                             <span class="network_link_arrow"><a
                                          class="network_link" href="https://hi.quora.com">हिन्दी</a> &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i>
                                   </span><span class="network_link_arrow"><a class="network_link"
                                          href="https://mr.quora.com">&nbsp;मराठी&nbsp;</a> <i class="fa fa-chevron-right" aria-hidden="true"></i>
</span> 
              </div>

              <div fxLayout="row">
                     <div class="FooterNav">
                            <ul class="nav_list">
                                   <li class="about"><a href="/about">About</a></li>
                                   <li class="languages"><a href="/about/languages">Languages</a></li>
                                   <li class="careers"><a href="/careers">Careers</a></li>
                                   <li class="business"><a href="/business">Businesses</a></li>
                                   <li class="privacy"><a href="/about/privacy">Privacy</a></li>
                                   <li class="tos">
                                   <a href="/about/tos">Terms</a></li>
                                   <li class="feedback"><a href="/contact">Contact</a></li>
                                   <li class="copyright">© Quora Inc. 2019</li>
                            </ul>
                     </div>
              </div>

       </div>
</div>