.all{
    width: 100vw;
    height: 100vh;
    background: #B3FFAB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   }
   .container {
    
    width: 450px;
    margin: 2em 0;
    padding: 2em 1em;
    border-radius: 50px;
    position: relative;
    height: 400px;
     align-content: center;
     margin-left: 30%;
     background: #3A1C71;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title {
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
}

.user-profile {
  text-align: center;
}

.avatar-container {
  
  width: 15rem;
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(https://bit.ly/2npgQy5);
  background-position: center;
  background-size: cover;

  .avatar {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  