 <div  class="tagline" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">
 <div fxLayout="row wrap" fxLayoutAlign="center center">
<span class="text">Dashboard</span>
 </div>
 <div fxLayout="row wrap" fxLayoutAlign="end start" >
     
       <button class="btn btn-primary"[routerLink]="['/user']">View Profile</button>

       <button class="btn btn-primary" (click)="logout()">Logout</button>
 </div>
</div>
 <div class="card-container">
     <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxFlex  fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="5px"> 
<app-profile *ngFor="let user of users; let i=index" [user]="user" [i]="i"
[routerLink]="['/details',user._id]">
</app-profile>
</div>
     </div>
 </div>
